# Problem Set 2

# Task 1 Question
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement.

In [5]:
a = 0       #defining variable 'a'
def b():    #declaring function b()
 global a   #defing 'a' as global variable
 a = c(a)   #calling function c(a)

def c(a):   #defining function c(a)
 return a + 2 

b()    #when b() then a is 0 + 2 = 2
b()    #when b() then a is 2 + 2 = 4
b()    #when b() then a is 4 + 2 = 6
a       
print("The value of a is:",a)

The value of a is: 6

# Task 2 Question
Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [16]:
def fileLength(filename):
	#reading data
	try:
		f=open(filename,'r')
		#reading all lines as a list of list
		data=f.readlines()
		#creating a single line from all lines
		line=""
		for i in data:
			line+=i
		result=len(line)
		return result
	except FileNotFoundError:
		return ("File {} not found.".format(filename))

print(fileLength('C:\\Users\\sanky\\Downloads\\filelength.txt'))
print(fileLength('ABCxyz.txt'))

123
File ABCxyz.txt not found.

# Task 3 Question
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the 
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and 
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below

In [17]:
class Marsupial(object):

  def __init__(self):

    self.lst = []

  def put_in_pouch(self, item):

    self.lst.append(item)

  def pouch_contents(self):

    return self.lst


class Kangaroo(Marsupial):

  def __init__(self,x,y):

    Marsupial.__init__(self)

    self.x = x

    self.y = y

  def jump(self,dx,dy):

    self.x += dx

    self.y += dy

  def __str__(self):

    return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)



m = Marsupial()

m.put_in_pouch('doll')

m.put_in_pouch('firetruck')

m.put_in_pouch('kitten')

m.pouch_contents()



k = Kangaroo(0,0)

print(k)

k.put_in_pouch('doll')

k.put_in_pouch('firetruck')

k.put_in_pouch('kitten')

k.pouch_contents()

k.jump(1,0)

k.jump(1,0)

k.jump(1,0)

print(k)

I am a Kangaroo located at coordinates (0,0)
I am a Kangaroo located at coordinates (3,0)

# Task 4 Question
Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops.

In [82]:
def collatz(n):

    #print value of n
    print(n)
    if n==1:
        return 
    elif n%2==0:
        return collatz(n//2)  #call method recursively
    else:
        return collatz(n*3+1)  #call method recursively
n=int(input("Please enter a positive integer to get its Collatz sequence: "))
collatz(n)

ehtre any number to get collatz sequence : 11
11
34
17
52
26
13
40
20
10
5
16
8
4
2
1

# Task 5 Question
Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [ ]:
def binary( n ):
    if n <= 0:
        return 0
    else:
       
        return  n % 2 + 10 * binary(int(n // 2))

n = int(input("Please enter a positive integer to get to convert into binary"))
print("After conversion in binary : ",binary(n))

# Task 6 Question
Implement a class named HeadingParser that can be used to parse an HTML 
document, and retrieve and print all the headings in the document. You should 
implement your class as a subclass of HTMLParser, defined in Standard Library 
module html.parser. When fed a string containing HTML code, your class should 
print the headings, one per line and in the order in which they appear in the 
document. Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your 
implementation using w3c.html.

In [25]:
from html.parser import HTMLParser

# Inherit from Html parser
class HeadingParser(HTMLParser):
    # Define the headings
    headers = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']

    # Handle the functions
    def handle_starttag(self, tag, attrs):
        if tag in self.headers:
            print(tag)

    def handle_endtag(self, tag):
        if tag in self.headers:
            print(tag)

    def handle_data(self, data):
        print(data)
parser = HeadingParser()
infile = open('C:\\Users\\sanky\\Downloads\\w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

Change_me














h1
W3C Mission
h1


h2
Principles
h2

# Task 7 Question
Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print 
each web page's URL. As shown below, indentation, specified by indent, should 
be used to indicate the depth of a URL

In [27]:
import requests

from bs4 import BeautifulSoup   

def webdir(url, depth, indent):
    resp = requests.get(url)
    print(url)
    if(depth == indent):
        return
    soup = BeautifulSoup(resp.text, 'html.parser')  
    for link in soup.findAll('a'):
        new_link = link.get('href')
        if(new_link.startswith('https')):
            webdir(new_link, depth, indent+1)

webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/test1.html

# Task 8 Question:
Write SQL queries on the below database table that return: a) All the temperature data. b) All the cities, but without repetition. c) All the records for India. d) All the Fall records. e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters. f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order. g) The total annual rainfall for Cairo. h) The total rainfall for each season.

# @Article refernced to Run SQL on Jupyter Notebook: https://towardsdatascience.com/heres-how-to-run-sql-in-jupyter-notebooks-f26eb90f3259

# Installing SQL package in jupyter notebook

In [29]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: ipython>=1.0 in c:\users\sanky\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Collecting sqlparse
  Downloading sqlparse-0.4.3-py3-none-any.whl (42 kB)
Requirement already satisfied: six in c:\users\sanky\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\sanky\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\sanky\anaconda3\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: colorama in c:\users\sanky\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: backcall in c:\users\sanky\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: stack-data in c:\users\sanky\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\sanky\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: matplotlib-inline in c:\users\sanky\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: pickleshare in c:\users\sanky\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\sanky\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: pygments>=2.4.0 in c:\users\sanky\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: traitlets>=5 in c:\users\sanky\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\sanky\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\sanky\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\sanky\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\sanky\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sanky\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: pure-eval in c:\users\sanky\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in c:\users\sanky\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: executing in c:\users\sanky\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13714 sha256=048c72a9e5d435bd13b36d519c67549df9c04b7c7bb44b3d70065da287b2d422
  Stored in directory: c:\users\sanky\appdata\local\pip\cache\wheels\75\f7\28\77a076f1fa8cbeda61aca712815d04d7a32435f04a26a2dd7b
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.1 prettytable-0.7.2 sqlparse-0.4.3

# Loading sql package in jupyter

In [30]:
%load_ext sql

# Connection string to connect to DB

In [32]:
%sql sqlite://

# Creating Table Weather

In [69]:
%%sql
CREATE TABLE Weather
(
City varchar(15),
Country varchar(15),
Season varchar(15),
Temperature float,
Rainfall float
);

 * sqlite://
Done.

[]

# Inserting Values into Weather Table

In [70]:
%%sql
INSERT INTO Weather VALUES('Mumbai', 'India', 'Winter', 24.8,5.9),
('Mumbai', 'India', 'Spring', 28.4,16.2),
('Mumbai', 'India', 'Summer', 27.9,1549.4),
('Mumbai', 'India', 'Fall', 27.6,346.0),
('London', 'United kingdom', 'Winter', 4.2,207.7),
('London', 'United kingdom', 'Spring', 8.3,169.6),
('London', 'United kingdom','Summer', 15.7,157.0),
('London', 'United kingdom','Fall', 10.4,218.5),
('Cairo', 'Egypt','Winter', 13.6,16.5),
('Cairo', 'Egypt', 'Spring', 20.7,6.5);

 * sqlite://
10 rows affected.

[]

# View the contents of the Table Weather

In [71]:
%%sql
select * from Weather;

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)]

# a) All the temperature data.

In [73]:
%%sql
select Temperature from Weather;

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,)]

# b) All the cities, but without repetition.

In [74]:
%%sql
select distinct city from Weather;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

# c) All the records for India.

In [75]:
%%sql
select * from Weather where country =='India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

# d) All the Fall records

In [76]:
%%sql
select * from Weather where Season='Fall'

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United kingdom', 'Fall', 10.4, 218.5)]

# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [77]:
%%sql
SELECT  City, Country, Season, AVG(Rainfall) FROM weather
GROUP BY Rainfall
Having AVG(Rainfall) BETWEEN 200 AND 400;

 * sqlite://
Done.

[('London', 'United kingdom', 'Winter', 207.7),
 ('London', 'United kingdom', 'Fall', 218.5),
 ('Mumbai', 'India', 'Fall', 346.0)]

# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order

In [78]:
%%sql
select City, Country, AVG(Temperature) FROM weather
WHERE Season = 'Fall'  
group by Temperature
HAVING AVG(Temperature) > 20
ORDER BY AVG(Temperature) ASC;

 * sqlite://
Done.

[('Mumbai', 'India', 27.6)]

# g) The total annual rainfall for Cairo.

In [80]:
%%sql
select City, SUM(Rainfall) FROM weather where City='Cairo'

 * sqlite://
Done.

[('Cairo', 23.0)]

# h) The total rainfall for each season.

In [81]:
%%sql
select Season, SUM(Rainfall) FROM weather
group by Season

 * sqlite://
Done.

[('Fall', 564.5),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.4),
 ('Winter', 230.1)]

# Task 9 Question
 Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following 
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list 
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], 
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog'] (the list of words in list words containing 4 or more 
characters.

In [ ]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# a)Printing all words upper case

In [2]:
print([x.upper() for x in words])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

# b)Printing all words lower case

In [3]:
print([x.lower() for x in words])

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# c)Printing length of each word

In [4]:
print([len(x) for x in words])

[3, 5, 5, 3, 5, 4, 3, 4, 3]

# d) Printing the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word

In [5]:
print([[x.upper(), x.lower(), len(x)] for x in words])

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

# e) Printing the list of words in list words containing 4 or more characters

In [6]:
print([x for x in words if len(x)>=4])

['quick', 'brown', 'jumps', 'over', 'lazy']